<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Home | Oasis Properties</title>
</head>
<body>
    <header>
        <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="./" class="logo"><img src="../images/landing-logo.svg"></a>
        <ul class="main-nav" id="js-menu">
            <li><a href="./" class="nav-links active-btn">Find an Apartment</a></li>
            <li><a href="./agentSignup" class="nav-links ">Listings</a></li>
            <li><a href="./profile" class="nav-links ">Agent Sign In</a></li>
            <li><a href="./createacc" class="nav-links ">Contact Us</a></li>
        </ul>
        </nav>

    </header>

