<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet"> 
    <link href="../css/about.css" rel="stylesheet" type="text/css">
    <title>About | Oasis Properties</title>
</head>
<body>
    <header>
        <nav class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
          </span>
          <a href="./" class="logo"><img src="../images/blue-logo2.png"></a>
          <ul class="main-nav" id="js-menu">
            <li><a href="./" class="nav-links active-btn">Find an Apartment</a></li>
            <li><a href="./about" class="nav-links">Why Choose Oasis</a></li>
            <li><a href="./faq" class="nav-links">FAQ</a></li>
            <li><a href="./agentSignup" class="nav-links agent-link">Become an Agent</a></li>
            <li><a href="./profile" class="nav-links sign-btn">Sign in</a></li>
            <li><a href="./createacc" class="nav-links create-btn">Create Account</a></li>
          </ul>
        </nav>
      </header>
<!-------Header ends---->

<!-------Body start---->
<div class="container">
    <div class="hero-section">
        <img src="/images/hero.png" alt="hero">
    </div>
    <div class="content-text">
        <h2 class="content-header">We are a purpose driven company</h2>
        <p class="content">We left our drawing board to start this company with one major purpose, which is to make 
            life easier for an average Nigerian youth or family who is looking to get a new apartment and move with 
            ease. We are happy to share our knowledge and experience in the hope that it will help to build stronger 
            organization and communities.</p>
    </div>

    <div class="hero2">
    <img src="/images/hero2.jpg" alt="hero2" class="hero2">
    </div>  

    <div class="about-content-section">
        <h2 class="about-text-header">About <br/> 
            Oasis Property</h2>
        <p class="about-content">We address multifamily housing and single-family housing in urban, 
            suburban and also rural areas. People are driven to purchase real property through the 
            residential category, in that, many strive for home ownership.</p>

            <div class="square1"></div>
    </div>

    <div class="about2">
        <img src="/images/about2.jpg" alt="about2-img" class="about2-img">
        <p class="about2-text">We also deal in apartment buildings or multifamily units 
            allow many crowded areas to obtain housing for people. These buildings are usually 
            located in urban areas and suburban areas. It would be rare to see anything that resembles an 
            apartment building in a rural area. These buildings may also obtain security, clubhouse, laundromat, 
            parking, swimming pool, fitness club, and in some cases a golf course. Many investors love the multifamily
             units because of its limitations on risk, lack of competition, and ease of management. But a larger level 
             of capital is usually needed for these types of real property investments.</p>

             <div class="square2"></div>
    </div>

    <div class="team">
            <h2 class="team-header">Meet the team</h2>
            <p class="team-text">Meet the great creative minds behind the solution OASIS,<br/>
                this team consist of creative thinkers, UIUX designers. and developers</p>

            <div class="team-member">
                <div class="gallery" id="img1">
                    <img src="/images/team1.jpg" alt="first">
                        <div class="team-info">
                        <h3 class="team-name">Ayomide classyrazy</h3>
                    <p id="stack">UIUX Designer</p>
                    </div>
                </div>
                <div class="gallery" id="img2">
                    <img src="/images/team2.jpg" alt="first">
                    <div class="team-info">
                        <h3 class="team-name">Henrietta <br/> Apata</h3>
                        <p id="stack">UIUX Designer</p>
                    </div>
                </div>
                <div class="gallery" id="img3">
                    <img src="/images/team3.jpg" alt="first">
                    <h3 class="team-name">Ganiyu <br/> Babatunde</h3>
                    <p id="stack">UIUX Designer</p>
                </div>
                <div class="gallery" id="img4">
                    <img src="/images/team4.jpg" alt="first">
                    <h3 class="team-name">Mary <br/> Okosun</h3>
                    <p id="stack">UIUX Designer</p>
                </div>
                
            </div> 

    </div>

</div>

<!-------Body end---->


<!-------footer Begins---->
<footer>
    <div class="contact-form">
        <div class="left">
            <img src="/images/location.png" alt="location" class="location-img">
        </div>
        <div class="right">
            <form> 
                <div class="form-text">
                    <h2 class="form-header">Contact us</h2>
                    <p class="form-content">Connect with via mail if you have any
                         complain, advice or a program you want us to add to the 
                        site to make humans lives better.</p>
                </div>    
                <input name="Fullname" type="text" class="feedback-input" placeholder="Name" /> <br/>  
                <input name="Email" type="text" class="feedback-input" placeholder="Email" /> <br/>
                <textarea name="text" class="feedback-input" placeholder="Message"></textarea> <br/>
                <button class="btn">Submit here</button>
              </form>
        </div>
    </div>

        <div class="footer-items">
            <div class="items-list">
                <div class="items">
                    <h4>Buyer</h4>
                    <ul>
                        <li>Search Property</li>
                        <li>Submit a Request</li>
                        <li>List a Property</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Agent</h4>
                    <ul>
                        <li>Post Property</li>
                        <li>Manage Property</li> 
                        <li>Sign up as an Agent</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Offers</h4>
                    <ul>
                        <li>Jobs
                        <li>Referrals</li>
                        <li>Affiliates</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Contacts</h4>
                    <ul>
                        <li>info@oasisproperties.com</li>
                        <li>sale@oasisproperties.com</li>
                        
                    </ul>
                </div>
            </div>
            <br>
            <hr>
            <div class="about">
                <p>Oasis Properties is a registered company under the CAC and also insured with the Insurance Company. We ensure due diligence in certifying the agents that work with us. For no reason should any transaction be carried out outside this platform. Oasis Properties is a registered company under the CAC and also insured with the Insurance Company.</p>
            </div>
            <div class="copyright">
                <p>© Copyright Oasis Properties, 2021 </p>
                <div class="terms">
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </footer>
<!-------footer ends---->





</body>
</html>