<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet"> 
    <link href="../css/faq.css" rel="stylesheet" type="text/css">
    <title>Frequently Asked Questions | Oasis Properties</title>
</head>
<body>
    <header>
        <nav class="navbar">
          <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
          </span>
          <a href="./" class="logo"><img src="../images/blue-logo2.png"></a>
          <ul class="main-nav" id="js-menu">
            <li><a href="./" class="nav-links active-btn">Find an Apartment</a></li>
            <li><a href="./about" class="nav-links">Why Choose Oasis</a></li>
            <li><a href="./faq" class="nav-links">FAQ</a></li>
            <li><a href="./agentSignup" class="nav-links agent-link">Become an Agent</a></li>
            <li><a href="./profile" class="nav-links sign-btn">Sign in</a></li>
            <li><a href="./createacc" class="nav-links create-btn">Create Account</a></li>
          </ul>
        </nav>
    </header>
    
    <section class="container faq">
        <div>
            <h1>FAQs</h1>
            <p>Find answers to questions on our offers.</p>
        </div>
    </section>
    <section class="questions">
        <main>
            <details>
                <summary>What are the procedures for finding a property?</summary>
                <div class="faq__content">
                <p>Finding a property is a very simple step on our platform. Simply search for your desired specification using the filters and several suggestions will be displayed for you. You can explore these suggestions to select the one that best fits your requirement.</p>
                </div>
            </details>
            <details>
                <summary>How will I confirm if a property is legit?</summary>
                <div class="faq__content">
                <p>Every property listed on the oasis website has been verified. We do not put up properties that from any agent or agency that have not gone through our verification process. Be rest assured that any property you purchase through our platform is 100% verified.</p>
                </div>
            </details>
            <details>
                <summary>How long does it take to validate my payment?</summary>
                <div class="faq__content">
                <p>Payments will be validated on our platform after the agent or agency to which the payment was made, confirms receipt. The average period it takes for payment to be validated is 3 woking days. On rare occassions, it takes 5 working days. Feel free to reach out to us if your payment is not verified after 7 working days.</p>
                </div>
            </details>
            <details>
                <summary>How can I list my space up for rent/sale?</summary>
                <div class="faq__content">
                <p>You can put up your property for rent/sale on your dashboad if you have an account with us. There is an option to list property which allows you to fill in the details of your property to allow Oasis verify its availability and assist you in putting it up on our platform.</p>
                </div>
            </details>
            <details>
                <summary>How do I pay for my apartment?</summary>
                <div class="faq__content">
                <p>Payment for homes found on Oasis is negotiated between the buyer and the agents/real estate agencies. Payment is made directly to the agent or real estate agency incharge of the property
                </p>
                </div>
            </details>
            <details>
                <summary>What forms of payment methods do you accept?</summary>
                <div class="faq__content">
                <p>Payment for homes found on Oasis is negotiated between the buyer and the agents/real estate agencies. Payment is made directly to the agent or real estate agency incharge of the property
                </p>
                </div>
            </details>
            <details>
                <summary>What are the procedures for property inspection?</summary>
                <div class="faq__content">
                <p>At oasis, we pride ourseves on the authenticity of properties on our platforms. Users can schedule a tour with an agent before making a choice on thier dream home.</p>
                </div>
            </details>
            <details>
                <summary>Is Oasis available in every state?</summary>
                <div class="faq__content">
                <p>Oasis is currently only availaible in Lagos & Abuja. However, we are currently working on expanding to other states.
                </p>
                </div>
            </details>
            <details>
                <summary>I am an agent. How can I be a part of this?</summary>
                <div class="faq__content">
                <p>As an agent or agency, you can create your profile with us by clicking on the “Become and Agent” option available on the website. Proceed to register with your correct details to enable us verify your authenticity and set up your profile to allow you start listing some of the available properties you have. </p>
                </div>
            </details>
            <details>
                <summary>What are your insurance policies?</summary>
                <div class="faq__content">
                <p>Oasis Properties is a registered company under the CAC and also insured with the Insurance Company. We ensure due diligence in certifying the agents that work with us. For no reason should any transaction be carried out outside this platform.</p>
                </div>
            </details>
            <details>
                <summary>How can I contact your support team?</summary>
                <div class="faq__content">
                <p>You can reach out to our team through mail on info@oasisproperties.com or sales@oasisproperties.com or via any of our social media channels. Due to the large number of enquiries we receive each day, you may experience some delay before receiving a response. However, be rest assured that we will respond to your request.</p>
                </div>
            </details>
        </main>
    </section>
    <footer>
        <div class="footer container">
            <div class="footer-items">
                <div class="items">
                    <h4>Buyer</h4>
                    <ul>
                        <li>Search Property</li>
                        <li>Submit a Request</li>
                        <li>List a Property</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Agents</h4>
                    <ul>
                        <li>Post Property</li>
                        <li>Manage Property</li> 
                        <li>Sign up as an Agent</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Offers</h4>
                    <ul>
                        <li>Jobs
                        <li>Referrals</li>
                        <li>Affiliates</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Contacts</h4>
                    <ul>
                        <li>info@oasisproperties.com</li>
                        <li>sale@oasisproperties.com</li>
                        
                    </ul>
                </div>
            </div>
            <br>
            <hr>
            <div class="about">
                <p>Oasis Properties is a registered company under the CAC and also insured with the Insurance Company. We ensure due diligence in certifying the agents that work with us. For no reason should any transaction be carried out outside this platform. Oasis Properties is a registered company under the CAC and also insured with the Insurance Company.</p>
            </div>
            <div class="copyright">
                <p>© Copyright Oasis Properties, 2021 </p>
                <div class="terms">
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function() {
        mainNav.classList.toggle("active");
        });

        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
    </script>
</body>
</html>