<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/forgetpassword.css">

    <title>forgot password?|Oasis Agencies</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="logo-con">
               <a href="./"><img src="../images/logo.svg" alt="oasis logo" class="desktop"></a>
               <a href="./"><img src="../images/logo-mobile1.svg" alt="oasis logo" class="logo mobile"></a>

            </div>
            <div class="left-text desktop">
                <h1>Find a property with less stress</h1>
                <p>With Oasis, you put in less effort in getting that perfect property that meets your expectation.</p>
            </div>
            <img src="../images/Oasis Icon White.png" alt="company logo" class="oasis-large">
            <div class="right mobile">
                <div class="sign-up desktop">
                    <p>Dont have an account? <span><a href="agentSignup" class="sign-in">create one</a></span> </p>
                    
                </div>
                <div class="right-text">
                    <div class="section-container">
                        <h2 class="sign-in">Forgot Password?</h2>
                    </div>
                    <div class="form-section">
                        <form action="/users/password-reset" method="POST">
                            <div class="input-text">
                                <img src="../images/email-icon.svg" alt="">
                                <input type="email" name="email" id="email" placeholder="Email">
                            </div>
                            
                        
                            <div class="cta-under-form">
                                <button class="big-btn" type="submit">Submit</button>
                            </div>
                            
                        </form>
                    </div>
                  
                </div>
                
            </div>
            
            <div class="sign-up mobile">
                <p>Dont have an account? <span><a href="agentSignup" class="sign-in">Create one</a></span> </p>
            </div>
        </div>
        <div class="right">
            <div class="sign-up">
                <p>Dont have an account? <span><a href="agentSignup" class="sign-in">create one</a></span> </p>
               
            </div>
            <div class="right-text">
                <div class="section-container">
                    <h2 class="sign-in-text">Forgot Password?</h2>
                </div>
                <div class="form-section">
                    <form action="/users/password-reset" method="POST">
                        
                        <div class="input-text">
                            <img src="../images/email-icon.svg" alt="">
                            <input type="email" name="email" id="email" placeholder="Email">
                        </div>
                        
                        <div class="buttonx">
                            <button class="big-btn" type="submit">Submit</button>
                            
                        </div>
                    </form>
                </div>
                <div class="items desktop">
                    <a href="#">Privacy</a>
                    <a href="#">Terms</a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="items mobile">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
     <img src="../images/Oasis Icon White.png" alt="oasis logo " class="oasis-logo-large"> 
</body>

</html>