<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/header.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Document</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
      </span>
      <a href="index.html" class="logo"><img src="../images/landing-logo.svg"></a>
      <ul class="main-nav" id="js-menu">
        <li><a href="#" class="nav-links active-btn">Find an Apartment</a></li>
        <li><a href="#" class="nav-links">Why Choose Oasis</a></li>
        <li><a href="FAQ.html" class="nav-links">FAQ</a></li>
        <li><a href="#" class="nav-links agent-link">Become an Agent</a></li>
        <li><a href="#" class="nav-links sign-btn">Sign in</a></li>
        <li><a href="#" class="nav-links create-btn">Create Account</a></li>
      </ul>
    </nav>
  </header>
  <footer>
    <div class="footer container">
        <div class="footer-items">
            <div class="items">
                <h4>Buyer</h4>
                <ul>
                    <li>Search Property</li>
                    <li>Submit a Request</li>
                    <li>List a Property</li>
                </ul>
            </div>
            <div class="items">
                <h4>Agents</h4>
                <ul>
                    <li>Post Property</li>
                    <li>Manage Property</li> 
                    <li>Sign up as an Agent</li>
                </ul>
            </div>
            <div class="items">
                <h4>Offers</h4>
                <ul>
                    <li>Jobs
                    <li>Referrals</li>
                    <li>Affiliates</li>
                </ul>
            </div>
            <div class="items">
                <h4>Contacts</h4>
                <ul>
                    <li>info@oasisproperties.com</li>
                    <li>sale@oasisproperties.com</li>
                    
                </ul>
            </div>
        </div>
        <br>
        <hr>
        <div class="about">
            <p>Oasis Properties is a registered company under the CAC and also insured with the Insurance Company. We ensure due diligence in certifying the agents that work with us. For no reason should any transaction be carried out outside this platform. Oasis Properties is a registered company under the CAC and also insured with the Insurance Company.</p>
        </div>
        <div class="copyright">
            <p>© Copyright Oasis Properties, 2021 </p>
            <div class="terms">
                <p>Terms and Conditions</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </div>
  </footer>
    <script>
        let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function() {
        mainNav.classList.toggle("active");
        });
    </script>
</body>
</html>