<%- include('./partials/header') %>
    <section class="home-section">
        <h2>Best homes on the market today</h2>
        <div class="home-container">
            <div class="home-items">
                <div class="home">
                    <img src="./images/Rectangle 56.png">
                    <div class="item">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
            <div class="home-items">
                <div class="home">
                    <img src="./images/Rectangle 56.png">
                    <div class="item">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-container">
            <div class="home-items">
                <div class="home">
                    <img src="./images/Rectangle 56.png">
                    <div class="item">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
            <div class="home-items">
                <div class="home">
                    <img src="./images/Rectangle 56.png">
                    <div class="item">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="property-section">
        <div class="property">
            <div class="property-item">
                <img src="./images/Rectangle 72.png">
                <div class="property-list">
                    <h2>List your property</h2>
                    <p>Have a house to sell or a room to rent out? Trust oasis today and let us connect you with the best agents near you</p>
                    <button type="submit">PREVIEW</button>
                </div>
            </div>
     
        </div>

    </section>

    <footer>
        <div class="footer container">
            <div class="footer-items">
                <div class="items">
                    <h4>Clients</h4>
                    <ul>
                        <li>Search Property</li>
                        <li>Submit a Request</li>
                        <li>List a Property</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Agents</h4>
                    <ul>
                        <li>Post Property</li>
                        <li>Manage Property</li> 
                        <li>Sign up as an Agent</li>
                    </ul>
                </div>
               
                <div class="items">
                    <h4>Contacts</h4>
                    <ul>
                        <li>info@oasisproperties.com</li>
                        <li>sale@oasisproperties.com</li>
                        
                    </ul>
                </div>
            </div>
            <br>
           
            <div class="copyright">
                <p>© Copyright Oasis Properties, 2021 </p>
                <div class="terms">
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </footer>
  <script>
        let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function() {
        mainNav.classList.toggle("active");
        });
  </script>
</body>
</html>