<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/post_login.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>User Post Login | Oasis Properties</title>
</head>
<body>
    <header>
        <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="./" class="logo"><img src="../images/landing-logo.svg"></a>
        <ul class="main-nav" id="js-menu">
            <li><a href="#" class="nav-links active-btn">Find an Apartment</a></li>
            <li><a href="./about" class="nav-links">Why Choose Oasis</a></li>
            <li><a href="./faq" class="nav-links">FAQ</a></li>
            <li><a href="./agentSignup" class="nav-links agent-link">Become an Agent</a></li>
            <li class="dropdown">
                <button class="dropbtn">Kingsley 
                  <i class="fa fa-caret-down"></i>
                </button><img src="../images/user.png">
                <div class="dropdown-content">
                  <a href="#">Owner Dashboard</a>
                  <a href="#">My Favourites</a>
                  <a href="#">Saved Agents</a>
                  <a href="#">Account Settings</a>
                  <a href="/users/logout" style="border-top: 1px solid gray;">Sign Out</a>
                </div>
            </li> 
            <!-- <li><a href="#" class="nav-links">Kingsley<img src="../images/user.png"></li> -->
            <!-- <li><a href="./pages/signUp.html" class="nav-links create-btn">Create Account</a></li> -->
        </ul>
        </nav>

    </header>
    <section class="home-section">
        <h2>Best homes on the market today</h2>
        <div class="home-container">
            <div class="home-items">
                <div class="home">
                    <img src="../images/Rectangle 56.png">
                    <div class="item">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
            <div class="home-items">
                <div class="home">
                    <img src="../images/Rectangle 56.png">
                    <div class="item">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-container">
            <div class="home-items">
                <div class="home">
                    <img src="../images/Rectangle 56.png">
                    <div class="item">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
            <div class="home-items">
                <div class="home">
                    <img src="../images/Rectangle 56.png">
                    <div class="item">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="explore-section">
        <div class="explore-container">
        <div class="location-items">
            <h4>Live in Lagos</h4>
            <p>Explore our housing options in the largest city in sub-saharan Africa.</p>
            <button type="submit">PREVIEW</button>
        </div>
        <div class="explore-items">
            <div class="explore-item">
                <img src="../images/Rectangle 56.png">
                <div class="explore">
                    <h3>3 Bedroom Apartment</h3>
                    <p>Rent</p>
                    <h3>Price:N500,000</h3>
                    <p>Surulere, Lagos</p>
                    <button type="submit">PREVIEW</button>
                </div>
            </div>
        </div>
        <div class="explore-items">
            <div class="explore-item">
                <img src="../images/Rectangle 56.png">
                <div class="explore">
                    <h3>3 Bedroom Apartment</h3>
                    <p>Rent</p>
                    <h3>Price:N500,000</h3>
                    <p>Surulere, Lagos</p>
                    <button type="submit">PREVIEW</button>
                </div>
            </div>
        </div>
        </div>
        <div class="explore-container">
            <div class="explore-items">
                <div class="explore-item">
                    <img src="../images/Rectangle 56.png">
                    <div class="explore">
                        <h3>3 Bedroom Apartment</h3>
                        <p>Rent</p>
                        <h3>Price:N500,000</h3>
                        <p>Surulere, Lagos</p>
                        <button type="submit">PREVIEW</button>
                    </div>
                </div>
            </div>
            <div class="explore-items">
            <div class="explore-item">
                <img src="../images/Rectangle 56.png">
                <div class="explore">
                    <h3>3 Bedroom Apartment</h3>
                    <p>Rent</p>
                    <h3>Price:N500,000</h3>
                    <p>Surulere, Lagos</p>
                    <button type="submit">PREVIEW</button>
                </div>
            </div>
            </div>
            <div class="explore-items">
            <div class="explore-item">
                <img src="../images/Rectangle 56.png">
                <div class="explore">
                    <h3>3 Bedroom Apartment</h3>
                    <p>Rent</p>
                    <h3>Price:N500,000</h3>
                    <p>Surulere, Lagos</p>
                    <button type="submit">PREVIEW</button>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="property-section">
        <div class="property">
            <div class="property-item">
                <img src="../images/Rectangle 72.png">
                <div class="property-list">
                    <h2>List your property</h2>
                    <p>Have a house to sell or a room to rent out? Trust oasis today and let us connect you with the best agents near you</p>
                    <button type="submit">PREVIEW</button>
                </div>
            </div>
            <div class="property-item">
                <div class="property-list">
                    <h2>Home Estimates</h2>
                    <p>Check how much your house is worth before putting it on the market</p>
                    <button type="submit">PREVIEW</button>
                </div>
                <img src="../images/Rectangle 72.png">
            </div>
        </div>

    </section>
    <section class="partners">
        <div class="container layout ">
            <h2>Our Partners</h2>
            <div class="partner-logos">
                <img src="../images/partner1.png" alt="partner-logo" >
                <img src="../images/partner2.png" alt="partner-logo" >
                <img src="../images/partner3.png" alt="partner-logo" >
                <img src="../images/partner4.png" alt="partner-logo" >
            </div>
        </div>
    </section>
    <section class="testimonies">
        <div class="container">
            <h3>Don't just take our word for it, hear from our customers</h3>
            <div class="testimonies-section">
                <div class="testimonies-card">
                    <div class="testimonies-top">
                        <img src="../images/customer-img.png">
                        <h4>Esther Babatope</h4>
                    </div>
                    <div class="testimonies-bottom">
                        <p>I have been looking for a house in Lagos for months, but with Oasis, i found my dream house in just a few weeks</p>
                    </div>
                </div>

                <div class="testimonies-card">
                    <div class="testimonies-top">
                        <img src="../images/customer-img.png">
                        <h4>Esther Babatope</h4>
                    </div>
                    <div class="testimonies-bottom">
                        <p>I have been looking for a house in Lagos for months, but with Oasis, i found my dream house in just a few weeks</p>
                    </div>
                </div>

                <div class="testimonies-card">
                    <div class="testimonies-top">
                        <img src="../images/customer-img.png">
                        <h4>Esther Babatope</h4>
                    </div>
                    <div class="testimonies-bottom">
                        <p>I have been looking for a house in Lagos for months, but with Oasis, i found my dream house in just a few weeks</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newsletter">
        <div class="container">
            <h2>While on the hunt, never miss out on  property news</h2>
            <form action="./subscribe" class="subscribe" method="POST">
                <input type="email" placeholder="please input your email" class="subscribe-input">
                <button class="subscribe-btn">SUBSCRIBE</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="footer container">
            <div class="footer-items">
                <div class="items">
                    <h4>Buyer</h4>
                    <ul>
                        <li>Search Property</li>
                        <li>Submit a Request</li>
                        <li>List a Property</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Agents</h4>
                    <ul>
                        <li>Post Property</li>
                        <li>Manage Property</li> 
                        <li>Sign up as an Agent</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Offers</h4>
                    <ul>
                        <li>Jobs
                        <li>Referrals</li>
                        <li>Affiliates</li>
                    </ul>
                </div>
                <div class="items">
                    <h4>Contacts</h4>
                    <ul>
                        <li>info@oasisproperties.com</li>
                        <li>sale@oasisproperties.com</li>
                        
                    </ul>
                </div>
            </div>
            <br>
            <hr>
            <div class="about">
                <p>Oasis Properties is a registered company under the CAC and also insured with the Insurance Company. We ensure due diligence in certifying the agents that work with us. For no reason should any transaction be carried out outside this platform. Oasis Properties is a registered company under the CAC and also insured with the Insurance Company.</p>
            </div>
            <div class="copyright">
                <p>© Copyright Oasis Properties, 2021 </p>
                <div class="terms">
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </footer>
  <script>
        let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function() {
        mainNav.classList.toggle("active");
        });
  </script>
</body>
</html>