<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/createacc.css" type="text/css">

    <title>Sign Up |Oasis Agencies</title>
</head>

<body>
    <div class="container">
        <div class="left-part-con">
            <div class="logo-con">
                <a href="./"><img src="../images/logo.svg" alt="oasis logo" class="for-desktop-only"></a>
                <a href="./"><img src="../images/logo-mobile1.svg" alt="oasis logo" class="logo mobile"></a>

            </div>
            <div class="left-part-text for-desktop-only">
                <h1>Find a property with less stress</h1>
                <p>With Oasis, you put in less effort in getting that perfect property that meets your expectation.</p>
            </div>
            <a href="./"><img src="../images/oasis-logo.svg" alt="oasis logo for styles" class="oasis-logo-large"></a>
            <div class="right-part-con mobile">
                <div class="header-question-con for-desktop-only">
                    <p>Already have an account? <span><a href="./profile" class="sign-in">Sign In</a></span> </p>
                </div>
                <div class="right-part-sec-text">
                    <div class="section-container">
                        <h2 class="get-started-text">Get Started</h2>
                    </div>
                    <div class="form-sec">
                        <form action="">
                            <div class="each-input-text">
                                <img src="../images/user-icon.svg" alt="">
                                <input type="text" name="firstName" id="firstName" placeholder="First Name">
                            </div>
                            <div class="each-input-text">
                                <img src="../images/email-icon.svg" alt="">
                                <input type="email" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="each-input-text">
                                <img src="../images/password-icon.svg" alt="">
                                <input type="password" name="password" id="password" placeholder="Password">
                            </div>
                            <div class="each-input-text">
                                <img src="../images/password-icon.svg" alt="">
                                <input type="password" name="password-confirm" id="password-confirm"
                                    placeholder="Confirm Password">
                            </div>
                            <div class="last-input">
                                <input type="checkbox" name="agreement" id="agreement">
                                <label for="agreement">I have read and agree to <span> Oasis Terms of Service</span></label>
                            </div>
                            <div class="cta-under-form">
                                <button class="big-btn" type="submit">Create An Account</button>
                                <a href="./agentSignup" class="big-btn">Become an Agent</a>
                            </div>
                        </form>
                    </div>
                    <div class="privacy-terms-con for-desktop-only">
                        <a href="#">Privacy</a>
                        <a href="#">Terms</a>
                    </div>
                </div>
                
            </div>
            
            <div class="header-question-con mobile">
                <p>Already have an account? <span><a href="./profile" class="sign-in">Sign In</a></span> </p>
            </div>
        </div>
        <div class="right-part-con">
            <div class="header-question-con">
                <p>Already have an account? <span><a href="./profile" class="sign-in">Sign In</a></span> </p>
            </div>
            <div class="right-part-sec-text">
                <div class="section-container">
                    <h2 class="get-started-text">Get Started</h2>
                </div>
                <div class="form-sec">
                    <form action="">
                        <div class="each-input-text">
                            <img src="../images/user-icon.svg" alt="">
                            <input type="text" name="firstName" id="firstName" placeholder="First Name">
                        </div>
                        <div class="each-input-text">
                            <img src="../images/email-icon.svg" alt="">
                            <input type="email" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="each-input-text">
                            <img src="../images/password-icon.svg" alt="">
                            <input type="password" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="each-input-text">
                            <img src="../images/password-icon.svg" alt="">
                            <input type="password" name="password-confirm" id="password-confirm"
                                placeholder="Confirm Password">
                        </div>
                        <div class="last-input">
                            <input type="checkbox" name="agreement" id="agreement">
                            <label for="agreement">I have read and agree to <span> Oasis Terms of Service</span></label>
                        </div>
                        <div class="cta-under-form">
                            <button class="big-btn" type="submit">Create An Account</button>
                            <a href="./agentSignup" class="big-btn">Become an Agent</a>
                        </div>
                    </form>
                </div>
                <div class="privacy-terms-con for-desktop-only">
                    <a href="#">Privacy</a>
                    <a href="#">Terms</a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="privacy-terms-con mobile">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
    <!-- <img src="../images/oasis-logo.svg" alt="oasis logo for styles" class="oasis-logo-large"> -->
</body>

</html>