@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Lato, sans-serif;
    background-color: rgb(250, 243, 250);
  }
  
  .navbar {
    font-size: 18px;
    background-color:transparent ;
    border: none;
    padding-bottom: 10px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
    padding-bottom: 10px;
  }
  .active{
    padding-bottom: 0px;
}
.agent-link{
  color: #EF5DA8 !important;
}
.agent-link:hover{
  text-decoration: underline;
}
.sign-btn{
  color: #1768f5 !important;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border:1px solid #0146B9;
}
.sign-btn:hover{
  background-color: pink;
}
.create-btn{
  color: #f7f7f7 !important;
  background-color: rgb(7, 105, 252);
  padding: 5px;
  border-radius: 5px;
}
.create-btn:hover{
  background-color: pink;
}
.active-btn{
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(8, 4, 235) ;
} 
.nav-links,
.logo {
  text-decoration: none;
  color: rgb(15, 14, 14);
  font-size: 17px;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}


.terms{
  display: flex;
}
.terms p:first-of-type{
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 5px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 70px;
    font-size: 15px;
  }
  .mobile{
      display: none;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }
  .logo img {
    width: 100px;
    height: auto;
}
  .logo:hover,
  .nav-links:hover {
    color: pink;
  }
}







@media screen and (max-width:768px) {
  .main-nav li{
    padding: 20px;
  }
  .navbar-toggle {
    color: #012551;
  }
  .right{
      display: none;
  }
  .left{
    display: none;
}
.mobile{
    margin-left: 2em;
   margin-top: 4em;
   width: 80%;
}
h1{
  color: #012551;
  font-size: 55px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    padding-top: 1px;
    padding-bottom: 1.5em;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

   .big-btn{
    color: #f7f7f7 !important;
    background-color: violet;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: rubik, sans-serif;
    font-size: 15px;
  }
  .big-btn:hover{
    background-color: rgb(5, 5, 129);
  }

  .footer-items {
    flex-direction: column;
  }
  .items{
      margin-bottom: 20px;
  }
  .copyright{
      flex-direction: column;
      align-items: center;
  }
}





















.left{
    padding-top: 9em;
    padding-left: 6em;
    width: 40%;
}
h1{
  color: #012551;
  font-size: 55px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
 .right{
     position: absolute;
     left: 500px;
     top: 45px;
 }
 .big-btn{
  color: #f7f7f7 !important;
  background-color: violet;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-family: rubik, sans-serif;
  font-size: 15px;
 
}
.big-btn:hover{
  background-color: rgb(5, 5, 129);
}